<a href="https://colab.research.google.com/github/INFO-523-Exercises/hw-04-uditChaudhary/blob/main/hw-04-uditChaudhary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

------------------------------------------------
###Title: HW 4: Regression in Python
###Author: Udit Chaudhary
###Date: 2023-10-20(YYYY_MM_DD)
------------------------------------------------

##Regression in Python

In Python, regression serves as a predictive modeling method dedicated to anticipating quantitative target attributes. This assignment takes a hands-on approach, showcasing diverse regression techniques within the scikit-learn library. It addresses the issue of model overfitting arising from correlated data attributes, stressing the need to grasp and address this challenge. The assignment further explores the utilization of regularization techniques as a vital strategy to counteract overfitting, offering a thorough exploration of methods to enhance the precision and dependability of regression models.

###Load Dataset

Using pandas, read the Tornados dataset and save it in the data variable.

In [2]:
import pandas as pd

#Read the Tornados Data
data = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-05-16/tornados.csv', header='infer')
data

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,elon,len,wid,ns,sn,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,-102.3000,15.80,10,1,1,25,0,0,0,False
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,0.0000,2.00,880,1,1,47,0,0,0,False
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.0000,0.10,10,1,1,177,0,0,0,False
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.0000,0.10,10,1,1,209,0,0,0,False
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,0.0000,2.00,37,1,1,101,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68688,621922,2022,9,28,2022-09-28,13:32:00,America/Chicago,2022-09-28T18:32:00Z,FL,12,...,-80.8841,3.00,100,1,1,9,0,0,0,False
68689,621923,2022,9,30,2022-09-30,10:25:00,America/Chicago,2022-09-30T15:25:00Z,NC,37,...,-78.3011,0.74,20,1,1,19,0,0,0,False
68690,621924,2022,9,30,2022-09-30,13:22:00,America/Chicago,2022-09-30T18:22:00Z,NC,37,...,-76.7147,0.70,12,1,1,13,0,0,0,False
68691,621900,2022,9,4,2022-09-04,15:44:00,America/Chicago,2022-09-04T20:44:00Z,OH,39,...,-80.6555,0.07,15,1,1,99,0,0,0,False
68692,621901,2022,9,9,2022-09-09,23:21:00,America/Chicago,2022-09-10T04:21:00Z,SC,45,...,-79.7537,0.68,125,1,1,19,0,0,0,False